



/* Entire Page */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #8b8686;
}

/* Header Component */
.headerComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fa000069;
}

.headerComponent h1 {
    font-size: 2.5em;
    margin: 20px;
    color: #fff;
}


/* Profile Card */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchQuery{
  display: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: bold;
  margin: 15px;
  text-transform: capitalize;
}
.searchQuery.show{
  display: block;
}
.searchQuery .query {
  font-weight: bold;
  color: #f6f4f4;
}
.profileContainer{
    display: none;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.profileContainer.show {
  display: flex; /* Show grid when the class 'show' is added */
}


.profileContainer .movieCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    height: 700px;
    max-width: 250px; 
}

.profileContainer .movieCard img{
  width: 100%;
  height: auto;

}

.profileContainer .movieCard h2{
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #bd2222;

}

.profileContainer .movieCard ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

}
.profileContainer .movieCard li{
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.5;
  color: #555;

}

.profileContainer .movieCard li span {
  font-weight: bold;
}

/* Search Bar */
.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .searchBox > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchInput {
    margin-bottom: 10px;
  }
  
  .searchInput input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .searchButton {
    display: flex;
    justify-content: center;
  }
  
  .searchButton button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .searchButton button:hover {
    background-color: #0056b3;
  }


/* Responsive Design */
  @media screen and (max-width: 500px){
    .profileContainer{
      display: flex;
      flex-direction: column;
    }
}




